[submodule "vendor/osmpbf"]
	path = vendor/osmpbf
	url = https://github.com/inphos42/osmpbf.git
[submodule "vendor/sserialize"]
	path = vendor/sserialize
	url = git://git.funroll-loops.de/sserialize.git
